@model TCategory
<div class="col-lg-12 item-genero"> 
    <input type="hidden" name="Categories" class="id-genero" value="@Model.Id" />
    <p>
        <strong>@Model.Name</strong> - <a class="excluir-genero" data-nome="@Model.Name" style="cursor: pointer">Excluir</a>
    </p>
</div>

