@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Clientes - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Clientes - Cadastrar
</h2>

@Html.Partial("_form", Model)

