@{
    ViewBag.Title = "Locadora IDB360º";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero-unit">
    <h1>Locadora virtual IDB360º</h1>
    <p>
        Aqui você encontra a melhor opção de entretenimento. Tudo que há de mais novo no
        mercado.
    </p>
</div>
