@{
    ViewBag.Title = "Locadora IDB360º";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="hero-unit">
    <h1>Locadora virtual IDB360º</h1>
    <p>
        Área de Administração do sistema!
    </p>
</div>
