@model TMovie
<div id="myModal" class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-tittle">Excluir filme</h4>
        </div>
        <div class="modal-body">
            <p>Deseja realmente excluir o filme <strong>@Model.Name</strong>?</p>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    Não
                </button>
                <button type="submit" class="btn btn-primary">
                    Sim
                </button>
            }
        </div>
    </div>

</div>
