@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Clientes - Editar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Clientes - Editar
</h2>

@Html.Partial("_form", Model)


