@inherits ModelWebViewPage<TCategory>
@{
    ViewBag.Title = "Gêneros - Cadastrar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Gêneros - Cadastrar
</h2>

@Html.Partial("_form", Model)
