@inherits ModelWebViewPage<TMovie>
@{
    ViewBag.Title = "Filmes - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Filmes - Cadastrar
</h2>

@Html.Partial("_form", Model)
