@inherits ModelWebViewPage<TMovie>
@{
    ViewBag.Title = "Filmes - Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Filmes - Editar
</h2>

@Html.Partial("_form", Model)

