@inherits ModelWebViewPage<TCategory>
@{
    ViewBag.Title = "Gêneros - Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="titulo-form">
    Gêneros - Editar
</h2>

@Html.Partial("_form", Model)

